# This is a template showing all required environment variables.
# Developers must copy this to a new file named environment_production.env and enviroment_staging.env 
# fill in the actual values.

# 🔑 Highly Sensitive Keys (Use with caution, better on a backend)
FIREBASE_ADMIN_API_KEY=

# 🌍 Third-Party Service Keys (Often lower risk, but still secrets)
GOOGLE_MAPS_API_KEY=
SUPABASE_ANON_KEY=

# ⚙️ Environment Configuration Variables
BASE_API_URL=
API_KEY=